In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from pathlib import Path
from preprocess import preprocess_train_test

In [2]:
raw_data_path = Path('../data/raw')
train_df = pd.read_csv(raw_data_path / 'train.csv', sep=';')
print(len(train_df))
train_df.head()

306270

,id,position,region,industry,locality,locality_name,education_type,drive_licences,citizenship,schedule,...,relocation_ready,travel_ready,retraining_ready,is_worldskills_participant,has_qualifications,completeness_rate,creation_date,modification_date,publish_date,salary
0,0,Специалист,Тульская область,"Государственная служба, некоммерческие организ...",7100000100000,Тула,Незаконченное высшее,[B],Российская Федерация,Полный рабочий день,...,False,False,True,NaN,NaN,64.0,2020-05-07,2020-05-08,2020-05-07,37500
1,1,Лаборант,Алтайский край,"Государственная служба, некоммерческие организ...",2200000100000,Барнаул,Высшее,[B],Российская Федерация,Полный рабочий день,...,False,True,True,NaN,NaN,88.0,2020-10-21,2020-10-27,2020-10-27,14000
2,3,"Специалист, администратор, бухгалтер, экономист",Ульяновская область,"Административная работа, секретариат, АХО",7300000200000,Димитровград,Высшее,[B],Российская Федерация,Полный рабочий день,...,False,NaN,True,NaN,NaN,78.0,2019-04-25,2020-02-04,2020-02-04,24600
3,4,Специалист,Свердловская область,"Государственная служба, некоммерческие организ...",6600002300000,Нижний Тагил,Высшее,[B],Российская Федерация,Полный рабочий день,...,False,False,False,NaN,NaN,91.0,2020-09-19,2020-09-20,2020-09-19,16075
4,5,Инструктор по плаванию,Иркутская область,"Здравоохранение, спорт, красота, социальное об...",3800000400000,Ангарск,NaN,NaN,Российская Федерация,Полный рабочий день,...,False,NaN,NaN,NaN,NaN,58.0,2020-04-20,2020-09-09,2020-04-21,22080

In [3]:
test_df = pd.read_csv(raw_data_path / 'test.csv', sep=';')
print(len(test_df))
test_df.head()

131259

,id,position,region,industry,locality,locality_name,education_type,drive_licences,citizenship,schedule,...,salary_desired,relocation_ready,travel_ready,retraining_ready,is_worldskills_participant,has_qualifications,completeness_rate,creation_date,modification_date,publish_date
0,2,инженер,Алтайский край,"Строительство, ремонт, стройматериалы, недвижи...",2200000100000,Барнаул,Высшее,[B],Российская Федерация,Полный рабочий день,...,10288,False,True,True,NaN,NaN,86.0,2017-08-26,2019-05-17,2016-05-11
1,6,монтажник,Свердловская область,"Строительство, ремонт, стройматериалы, недвижи...",6600000000000,Свердловская,NaN,NaN,Российская Федерация,Полный рабочий день,...,56649,NaN,True,True,NaN,NaN,47.0,2017-12-01,2019-07-10,2017-12-01
2,7,Инженер,Ульяновская область,"Транспорт, автобизнес, логистика, склад, ВЭД",7300300002000,Измайлово,Высшее,"[A, B, C]",Российская Федерация,Полный рабочий день,...,50000,False,False,True,NaN,NaN,66.0,2020-04-12,2020-04-14,2020-04-14
3,11,Юрист,Краснодарский край,Юриспруденция,2300000000000,Краснодарский,Высшее,NaN,Российская Федерация,Полный рабочий день,...,20760,False,NaN,True,NaN,NaN,69.0,2019-10-10,2020-08-25,2019-10-11
4,16,Персональный менеджер,Московская область,"Финансы, кредит, страхование, пенсионное обесп...",5001300100000,Красногорск,Высшее,NaN,Российская Федерация,Полный рабочий день,...,70000,False,False,True,NaN,NaN,65.0,2020-04-20,2020-05-21,2020-05-21

In [4]:
train_ids = train_df['id'].tolist()
test_ids = test_df['id'].tolist()

In [5]:
train_test = pd.concat((train_df, test_df), ignore_index=True)

In [6]:
train_test = preprocess_train_test(train_test)

Position preprocessed
Region preprocessed
Industry preprocessed
Locality name preprocessed
Education preprocessed
Drive licenses preprocessed
Citizenship preprocessed
Schedule preprocessed
Employement preprocessed
Age preprocessed
Gender preprocessed
Experience preprocessed
Salary desired preprocessed
Relocation ready preprocessed
Travel ready preprocessed
Retraining ready preprocessed
Is worldskills participant preprocessed
Has qualifications preprocessed
Creation date preprocessed
Modification date preprocessed
Publish date preprocessed
Days between preprocessed

In [7]:
train_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 437529 entries, 0 to 437528
Data columns (total 38 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   id                          437529 non-null  int64
 1   region                      437529 non-null  category
 2   industry                    437529 non-null  category
 3   locality_name               437529 non-null  category
 4   education_type              437529 non-null  category
 5   citizenship                 437529 non-null  category
 6   employement_type            437529 non-null  category
 7   age                         437529 non-null  int64
 8   gender                      437529 non-null  category
 9   experience                  437529 non-null  int64
 10  salary_desired              437529 non-null  float64
 11  relocation_ready            437529 non-null  category
 12  travel_ready                437529 non-null  category
 13  retraining_ready            437529 non-null  category
 14  is_worldskills_participant  437529 non-null  bool
 15  has_qualifications          437529 non-null  bool
 16  completeness_rate           437529 non-null  int64
 17  publish_date                437529 non-null  datetime64[ns]
 18  salary                      437529 non-null  float64
 19  number_nans                 437529 non-null  int64
 20  positions_first             437529 non-null  category
 21  positions_second            437529 non-null  category
 22  positions_other             437529 non-null  category
 23  has_drive                   437529 non-null  bool
 24  has_license_A               437529 non-null  bool
 25  has_license_B               437529 non-null  bool
 26  has_license_C               437529 non-null  bool
 27  has_license_D               437529 non-null  bool
 28  has_license_E               437529 non-null  bool
 29  watch_yes                   437529 non-null  bool
 30  flexible_yes                437529 non-null  bool
 31  irregular_yes               437529 non-null  bool
 32  parttime_yes                437529 non-null  bool
 33  fulltime_yes                437529 non-null  bool
 34  shift_yes                   437529 non-null  bool
 35  days_between_c_m            437529 non-null  int64
 36  days_between_m_p            437529 non-null  int64
 37  days_between_c_p            437529 non-null  int64
dtypes: bool(14), category(13), datetime64[ns](1), float64(2), int64(8)
memory usage: 53.6 MB

In [8]:
train = train_test[train_test['id'].isin(train_ids)].reset_index(drop=True)
test = train_test[train_test['id'].isin(test_ids)].reset_index(drop=True)
test = test.drop('salary', axis=1)

In [9]:
train.to_pickle('../data/interim/train_clean.pkl')
test.to_pickle('../data/interim/test_clean.pkl')

In [7]:
from pandas_profiling import ProfileReport

profile = ProfileReport(train_test, title="Pandas Profiling Report")
profile.to_widgets()

HBox(children=(HTML(value='Summarize dataset'), FloatProgress(value=0.0, max=50.0), HTML(value='')))

HBox(children=(HTML(value='Generate report structure'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Render widgets'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

In [3]:
edu_df = pd.read_csv(raw_data_path / 'education_ьгде.csv', sep=';')
print(len(edu_df))
edu_df.head()

375364

,id,graduation_year,institution,description
0,0,2022.0,"""Тульский государственный университет""",NaN
1,1,2016.0,"""Алтайский государственный аграрный университет""",NaN
2,2,2014.0,"""Алтайский государственный технический универс...",NaN
3,3,2003.0,ГОУ СПО ДИМИТРОВГРАДСКИЙ ТЕХНИЧЕСКИЙ КОЛЛЕДЖ,NaN
4,4,2005.0,Нижнетагильский торгово-экономический техникум,NaN

In [4]:
employements_df = pd.read_csv(raw_data_path / 'employements.csv', sep=';')
print(len(employements_df))
employements_df.head()

343328

,id,position,employer,achievements,responsibilities,start_date,finish_date
0,0,NaN,"ПАО ""МегаФон""",NaN,<p>Консультирование клиентов по телефону. Прод...,2019-06-01,2020-04-01
1,1,Копирайтер/рерайтер,WorkHardOnline,NaN,<p><strong>✑</strong><strong>Фриланс</strong><...,2019-10-01,NaN
2,2,стажер,Комитет по управлению муниципальной собственно...,NaN,<p>Прохождение производственной практики (30.0...,2014-06-01,2014-07-01
3,3,Консультант,ПАО Почта Банк,NaN,"<p>Работа с клиентами, оформление договоров</p>",2016-04-01,NaN
4,4,Старший специалист по привлечению клиентов,"ОАО Банк ""Открытие""",<p>Расширила базу клиентов</p>,"<p>Обслуживание физических лиц, активное привл...",2011-07-01,2013-01-01

In [5]:
ws_df = pd.read_csv(raw_data_path / 'worldskills.csv', sep=';')
print(len(ws_df))
ws_df.head()

1322

,id,status,code,is_international,int_name,ru_name
0,166,Данные подтверждены,R4,False,Preschool Education,Дошкольное воспитание
1,425,Данные в процессе проверки,17,True,Web Design and Development,Веб-дизайн и разработка
2,498,Данные в процессе проверки,33,True,Automobile Technology,Ремонт и обслуживание легковых автомобилей
3,596,Данные в процессе проверки,R45,False,NaN,Специалист по организационному и документацион...
4,1256,Данные в процессе проверки,NaN,NaN,NaN,NaN

In [6]:
full_train = pd.merge(train_df, edu_df, how='left', on='id')
full_train = pd.merge(full_train, employements_df, how='left', on='id')
full_train = pd.merge(full_train, ws_df, how='left', on='id')

In [7]:
from pandas_profiling import ProfileReport

profile = ProfileReport(full_train, title="Pandas Profiling Report")

In [8]:
profile.to_widgets()

HBox(children=(HTML(value='Summarize dataset'), FloatProgress(value=0.0, max=53.0), HTML(value='')))

HBox(children=(HTML(value='Generate report structure'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Render widgets'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…