In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

from pathlib import Path

In [2]:
raw_data_path = Path('../data/raw')
train_df = pd.read_csv(raw_data_path / 'train.csv', sep=';')
print(len(train_df))
train_df.head()

306270

,id,position,region,industry,locality,locality_name,education_type,drive_licences,citizenship,schedule,...,relocation_ready,travel_ready,retraining_ready,is_worldskills_participant,has_qualifications,completeness_rate,creation_date,modification_date,publish_date,salary
0,0,Специалист,Тульская область,"Государственная служба, некоммерческие организ...",7100000100000,Тула,Незаконченное высшее,[B],Российская Федерация,Полный рабочий день,...,False,False,True,NaN,NaN,64.0,2020-05-07,2020-05-08,2020-05-07,37500
1,1,Лаборант,Алтайский край,"Государственная служба, некоммерческие организ...",2200000100000,Барнаул,Высшее,[B],Российская Федерация,Полный рабочий день,...,False,True,True,NaN,NaN,88.0,2020-10-21,2020-10-27,2020-10-27,14000
2,3,"Специалист, администратор, бухгалтер, экономист",Ульяновская область,"Административная работа, секретариат, АХО",7300000200000,Димитровград,Высшее,[B],Российская Федерация,Полный рабочий день,...,False,NaN,True,NaN,NaN,78.0,2019-04-25,2020-02-04,2020-02-04,24600
3,4,Специалист,Свердловская область,"Государственная служба, некоммерческие организ...",6600002300000,Нижний Тагил,Высшее,[B],Российская Федерация,Полный рабочий день,...,False,False,False,NaN,NaN,91.0,2020-09-19,2020-09-20,2020-09-19,16075
4,5,Инструктор по плаванию,Иркутская область,"Здравоохранение, спорт, красота, социальное об...",3800000400000,Ангарск,NaN,NaN,Российская Федерация,Полный рабочий день,...,False,NaN,NaN,NaN,NaN,58.0,2020-04-20,2020-09-09,2020-04-21,22080

In [68]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306270 entries, 0 to 306269
Data columns (total 25 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   id                          306270 non-null  int64
 1   position                    306270 non-null  object
 2   region                      306258 non-null  object
 3   industry                    306270 non-null  object
 4   locality                    306270 non-null  int64
 5   locality_name               290778 non-null  object
 6   education_type              266238 non-null  object
 7   drive_licences              121925 non-null  object
 8   citizenship                 306270 non-null  object
 9   schedule                    306270 non-null  object
 10  employement_type            306270 non-null  object
 11  age                         298459 non-null  float64
 12  gender                      298497 non-null  object
 13  experience                  306270 non-null  int64
 14  salary_desired              306270 non-null  int64
 15  relocation_ready            233567 non-null  object
 16  travel_ready                237054 non-null  object
 17  retraining_ready            249144 non-null  object
 18  is_worldskills_participant  194 non-null     object
 19  has_qualifications          2534 non-null    object
 20  completeness_rate           306270 non-null  float64
 21  creation_date               306263 non-null  object
 22  modification_date           306263 non-null  object
 23  publish_date                306270 non-null  object
 24  salary                      306270 non-null  int64
dtypes: float64(2), int64(5), object(18)
memory usage: 58.4+ MB

In [3]:
edu_df = pd.read_csv(raw_data_path / 'education.csv', sep=';')
print(len(edu_df))
edu_df.head()

375364

,id,graduation_year,institution,description
0,0,2022.0,"""Тульский государственный университет""",NaN
1,1,2016.0,"""Алтайский государственный аграрный университет""",NaN
2,2,2014.0,"""Алтайский государственный технический универс...",NaN
3,3,2003.0,ГОУ СПО ДИМИТРОВГРАДСКИЙ ТЕХНИЧЕСКИЙ КОЛЛЕДЖ,NaN
4,4,2005.0,Нижнетагильский торгово-экономический техникум,NaN

In [4]:
employements_df = pd.read_csv(raw_data_path / 'employements.csv', sep=';')
print(len(employements_df))
employements_df.head()

343328

,id,position,employer,achievements,responsibilities,start_date,finish_date
0,0,NaN,"ПАО ""МегаФон""",NaN,<p>Консультирование клиентов по телефону. Прод...,2019-06-01,2020-04-01
1,1,Копирайтер/рерайтер,WorkHardOnline,NaN,<p><strong>✑</strong><strong>Фриланс</strong><...,2019-10-01,NaN
2,2,стажер,Комитет по управлению муниципальной собственно...,NaN,<p>Прохождение производственной практики (30.0...,2014-06-01,2014-07-01
3,3,Консультант,ПАО Почта Банк,NaN,"<p>Работа с клиентами, оформление договоров</p>",2016-04-01,NaN
4,4,Старший специалист по привлечению клиентов,"ОАО Банк ""Открытие""",<p>Расширила базу клиентов</p>,"<p>Обслуживание физических лиц, активное привл...",2011-07-01,2013-01-01

In [5]:
ws_df = pd.read_csv(raw_data_path / 'worldskills.csv', sep=';')
print(len(ws_df))
ws_df.head()

1322

,id,status,code,is_international,int_name,ru_name
0,166,Данные подтверждены,R4,False,Preschool Education,Дошкольное воспитание
1,425,Данные в процессе проверки,17,True,Web Design and Development,Веб-дизайн и разработка
2,498,Данные в процессе проверки,33,True,Automobile Technology,Ремонт и обслуживание легковых автомобилей
3,596,Данные в процессе проверки,R45,False,NaN,Специалист по организационному и документацион...
4,1256,Данные в процессе проверки,NaN,NaN,NaN,NaN

In [6]:
full_train = pd.merge(train_df, edu_df, how='left', on='id')
full_train = pd.merge(full_train, employements_df, how='left', on='id')
full_train = pd.merge(full_train, ws_df, how='left', on='id')

In [7]:
from pandas_profiling import ProfileReport

profile = ProfileReport(full_train, title="Pandas Profiling Report")

In [8]:
profile.to_widgets()

HBox(children=(HTML(value='Summarize dataset'), FloatProgress(value=0.0, max=53.0), HTML(value='')))

HBox(children=(HTML(value='Generate report structure'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Render widgets'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…