In [1]:
import numpy as np
import pandas as pd

In [11]:
sub1 = pd.read_csv('../submits/near_ones/catboost-optuna-final.csv')
sub2 = pd.read_csv('../submits/near_ones/rf_covid_prices.csv')
sub3 = pd.read_csv('../submits/near_ones/catboost-2levels-5fold-covid-prices.csv')
sub4 = pd.read_csv('../submits/near_ones/catboost-2levels-5fold-ext-emplo-3k.csv')
sub5 = pd.read_csv('../submits/near_ones/catboost-2levels-5fold-ext-emplo-edu-2k.csv')
sub6 = pd.read_csv('../submits/near_ones/catboost-2levels-5fold-cleaned_datas.csv')
sub7 = pd.read_csv('../submits/near_ones/merged_linreg_rf_xgb.csv')
sub8 = pd.read_csv('../submits/near_ones/rf_5_fold_with_0_target.csv')

In [12]:
final_submit = sub1.copy()

In [18]:
final_submit['salary'] = (sub1['salary'] * sub2['salary'] * sub3['salary'] * sub4['salary'] * sub5['salary'] * sub6['salary'] * sub7['salary'] * sub8['salary']) ** (1/8)

In [20]:
final_submit.to_csv('../submits/average_2.csv', index=False)

In [19]:
final_submit.describe()

                  id         salary
count  131259.000000  131259.000000
mean   218912.071987   33902.453662
std    126301.758751   15629.976481
min         2.000000      22.700773
25%    109499.000000   22978.973894
50%    218986.000000   29441.810805
75%    328305.500000   40269.068219
max    437528.000000  138059.946156